name: GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2

      - name: Install dependencies
        run: |
          gem install bundler jekyll
          bundle install

      - name: Build the site
        run: jekyll build -d _site

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
